body {
  font-family: "Nunito", sans-serif;
  background-color: #1f213d;
  color: white;
}

a {
  color: #9294b5;
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: url(assets/Nunito-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url(assets/Nunito-Black.ttf);
  font-weight: 900;
}
