.dialogue-box {
  border: 6px solid transparent;
  border-image: url("border.png") 6;
  image-rendering: pixelated;
  overflow: hidden;
  padding: 6px;
  margin: 4px;
  width: 520px;
  border-radius: 10px /* hacky way to make the corners of the background color not bleed out of the border image */
}

.dialogue {
  margin-left: 4px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 13pt;
  text-shadow: -1px 1px 1px #00000090, -1px -1px 1px #00000090, 1px -1px 1px #00000090, 1px 1px 1px #00000090;
}

.ch1 {
  background-color: #8e9fb0c0;
}

.ch2 {
  background-color: #d2b0c1c0;
}

.ch3 {
  background-color: #8ed2d2c0;
}

.ch4 {
  background-color: #b09f9fc0;
}

.ch5 {
  background-color: #b09fc1c0;
}

.ch6 {
  background-color: #b06c8ec0;
}

.ch7{
  background-color: #8ec19fc0;
}

.ch8-1{
  background-color: #e3b06cc0;
}

.ch8-2{
  background-color: #d29fb0c0;
}

.face {
  margin-right: 12px;
  float: left;
}

.event {
  font-family: monospace;
}

.command {
  font-family: monospace;
  font-size: x-small;
  margin: 2px;
  white-space: pre-wrap; /* don't collapse multiple spaces in code */
}

.dark-bg {
  background-color: black;
  color: white;
}

.dark-box {
  background-color: #282828c0;
}

.sidebar {
  position: fixed;
  width: 150px;
}
